.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    margin-left: 15%;
    
    
}

.card-body {
    padding: 1rem 1.5rem; 
    height: 100%;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}