<div class="card">
    <div class="card-body mt-5">
      <div class="row mt-2">
        <div class="text-center">
          <h3>Ask, Learn, and Connect with a Knowledgeable Community</h3>
        </div>
      </div>
      
      <div class="row mt-2">


        <div class="col-md-4">
          <div class="card">
              <div class="card-body">

                <div class="text-center">
                  <b><p>Check Your Points and Ranking</p></b>
                </div>
                  
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" routerLink="#">Check Your Ranking</button>
                  </div>

              </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                      <b><p class="text-center">Have a doubt??? Lets Post It here...</p></b>
                    </div>

                    <div class="text-center">
                      <button type="button" class="btn btn-primary" routerLink="/postQuestion">Post Question</button>
                    </div>

                </div>
            </div>
        </div>


        


        <div class="col-md-4">
          <div class="card">
              <div class="card-body">

                <div class="text-center">
                  <b><p>Explore Posted Questions</p></b>
                </div>
                  
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" routerLink="/postedQuestion">Answer Questions</button>
                  </div>

              </div>
          </div>
        </div>

      </div>

    </div>

    
</div>
