.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    margin-left: 15%;
    
    
}

.card-body {
    padding: 1rem 1.5rem; 
    height: 100%;
}

.content{
    padding: 10px;
}

#delete-question{
    margin-left: 10px; 
}

#delete-answer{
    margin-left: 10px;
}

.answer-btn{
    margin-left: 10px;
}

.buttons{
    margin: 0 auto;
    display: inline;
}


#input-1, #input-2 {
    width: 50px;
    border: none;
    background: none;
    /* color: #919191; */
    font-size: 20px;
    margin: 0 10px;
    pointer-events: none;
}

#like-btn, #dislike-btn{
    border: none;
    font-size: 23px;
}

#like-btn:active, #dislike-btn:active{
    color: #004eff;
    transform: scale(1.2);
}


#search-input{
    height: 40px;
    width: 50%;
    box-shadow: 10px 10px rgb(206, 206, 206);
    border-radius: 5px;
    
}




