.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    margin-left: 15%;
    
    
}

.card-body {
    padding: 1rem 1.5rem; 
    height: 100%;
}

.content{
    padding: 10px;
}

.answer-btn{
    margin-left: 10px;
}

.buttons{
    margin: 0 auto;
    display: inline;
}