<div class="card">
    <div class="card-body">
      
      <div class="row mt-2">

        
          <div class="search-bar d-flex justify-content-center mt-5">
            <input type="search" id="search-input" placeholder=" Search Your Question Here..." [(ngModel)]="searchedText" (input)="getSearchText()" aria-label="Search">
          </div>
        

        <div class="col-md-10" *ngFor="let question of questions;">
          
          <div class="filtering" *ngIf="searchedText === '' || question.title.toLowerCase().includes(searchedText.toLowerCase()) || question.description.toLowerCase().includes(searchedText.toLowerCase())">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Title: {{question.title}}</h4>
                    <p class="card-text">Description: {{question.description}}</p>

                    <div class="buttons"> 
                      <div class="text-end">
                        <!-- <button type="button" class="btn btn-primary" (click)="deleteAnswer(answer.answerId)">Edit</button> -->
                        
                        <button type="button" class="btn btn-primary" id="edit-question" routerLink="/updateQuestion/{{question.questionId}}">Edit</button>
                        <button type="button" class="btn btn-danger" id="delete-question" (click)="deleteQuestion(question.questionId)">Delete</button>

                      </div>  
                    </div>

                </div>
                <hr>
                <h4 class="content"><u>ANSWERS:</u></h4>
                <div class="content" *ngFor="let answer of question.listOfAnswers">
                  <hr>
                    <p class="content">{{ answer.description }}</p>

                    <div class="voting">
                      <button id="like-btn" (click)="like(answer.answerId)">
                        <i class="fa-regular fa-thumbs-up"></i>
                      </button>
                      <input type="number" id="input-1" value="{{answer.likesCount}}">
                      
                      <button id="dislike-btn" (click)="disLike(answer.answerId)">
                        <i class="fa-regular fa-thumbs-down"></i>
                      </button>
                      <input type="number" id="input-2" value="{{answer.disLikesCount}}">
                    </div>
                    
                    <div class="buttons"> 
                      <div class="text-end">
                        <button type="button" class="btn btn-primary" id="edit-answer" routerLink="/editAnswer/{{answer.answerId}}">Edit</button>
                        <button type="button" class="btn btn-danger" id="delete-answer" (click)="deleteAnswer(answer.answerId)">Delete</button>

                      </div>  
                    </div>
                    
                  <hr>
                </div>
                <hr>
                  <div class="mt-2">
                    <!-- <input type="hidden" class="form-control" [(ngModel)]="answer.questionId" [value]="question.questionId"> -->
                    <!-- class="form-control" [(ngModel)]="answer.description" -->
                    <textarea placeholder="Elaborate your solution here..." class="form-control" #answer rows="2"></textarea>
                  </div>

                  <div class="answer-btn mt-2">
                    <button type="button" class="btn btn-primary" (click)="submitAnswer(answer.value, question.questionId)">Submit</button>
                  </div>
              
                <br>
                
            </div>
        </div>

      </div>

    </div>

    </div>
  </div>
